@page
@model Final_Project_CIDM_3312.Pages.Person.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Address.street" class="control-label"></label>
                <input asp-for="Address.street" class="form-control" />
                <span asp-validation-for="Address.street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.city" class="control-label"></label>
                <input asp-for="Address.city" class="form-control" />
                <span asp-validation-for="Address.city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.state" class="control-label"></label>
                <input asp-for="Address.state" class="form-control" />
                <span asp-validation-for="Address.state" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.zipCode" class="control-label"></label>
                <input asp-for="Address.zipCode" class="form-control" />
                <span asp-validation-for="Address.zipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
